{#
* Copyright (C) 2024 Daniel Fernández Giménez <hola@danielfg.es>
* @author Daniel Fernández Giménez <hola@danielfg.es>
#}

<div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" name="pc_show" value="1" id="pcShowCheck" {{ docfile.pc_show ? 'checked' : '' }}>
    <label class="form-check-label" for="pcShowCheck">
        {{ trans('show-on-client-portal') }}
    </label>
</div>